pdfplumber~=0.11.0
simplejson~=3.19.2
requests~=2.31.0
PyYAML~=6.0.1
pillow~=10.2.0
reportlab~=4.1.0
pandas~=2.2.1
loguru~=0.7.2
openai~=1.14.2
fastapi~=0.110.0
uvicorn~=0.29.0
python-multipart
langchain~=0.1.16
langchain-openai
gradio~=4.27.0
zhipuai
numpy~=1.26.4